/*Header 1 font and color style*/
h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
  text-align: center;
}

/*Page text alignment*/
html {
  text-align: center;
}

/*Body text style*/
p {
  font-family: Helvetica;
  font-size: 14px;
}

/*Ancor tag style definition*/
a {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  text-align: center;
}

/*Background image style definition*/
.back {
  background-image: url("the-flatiron-building.png");
  background-size: cover;
  background-position: center;
}

/*Subheader 2 font and color definition*/
h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

/*Ancor tag style definition*/
.work {
  background-size: cover;
  background-image: url("the-flatiron-building.png");
  background-position: center;
  font-family: Helvetica;
  font-size: 23px;
  color: white;
  font-weight: bold;
  text-align: center;
}

/*Copy right text style*/
.cright {
  background-size: contain;
  background-color: dimgray;
  background-position: left;
  font-family: Helvetica;
  font-size: 11px;
  color: white;
  text-align: left;
}
